@import "../utils/variables";
.blogs {
  h1 {
    text-align: center;
  }
}
.beginner {
  h1 {
    text-align: center;
  }
}

.main-blogs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  grid-template-rows: 1fr;
  padding: 0 20px;

  .blogs {
    display: grid;
    max-width: 500px;
    width: 300px;
    background-color: white;
    color: black;
    border-radius: 20px;
    .content {
      padding: 10px;
      height: 50%;
      p {
        font-size: 1.2rem;
      }
    }
    .top-content {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      gap: 6px;
      font-size: 1.1rem;
    }
    .image {
      height: 50%;
    }
    img {
      border-radius: 10px 10px 0 0;
    }
    h3 {
      cursor: pointer;
    }
  }
}
.notLoggedIn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  a {
    padding: 20px;
    border: white 1px solid;
    border-radius: 30px;
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    background-color: black;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}

.beginner,
.indeterminate,
.expert,
.blogs {
  @include lg-max {
    .main-blogs {
      grid-template-columns: repeat(3, 1fr) !important;
    }
  }
  @include med-max {
    .main-blogs {
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }
  @media (max-width: 550px) {
    .main-blogs {
      grid-template-columns: 1fr !important;
      place-items: center;
    }
  }
}
