@import "../utils/variables";
.home header {
  background-image: url("../../public/speed.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  display: flex;
  align-items: center;
  padding: 0 30px;
  section {
    max-width: 50vw;
  }
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
  }
  i {
    font-size: 1.5rem;
  }
}
main {
  // min-height: 100vh;
  margin: 0 auto;

  h2 {
    text-align: center;
    padding-top: 20px;
  }
  .welcome {
    // max-width: 800px;
    padding: 0 30px;
    background-color: white;
    color: black;
    p {
      font-size: 1.4rem;
    }
  }
}

.popLogo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  display: grid;
  place-items: center;
}
@include med-max {
  header h1 {
    font-size: 2rem !important;
  }
  header p {
    font-size: 1.3rem !important;
  }
}
