@import "../utils/variables";

.write {
  padding-top: 40px;
  display: grid;
  place-items: center;

  .form {
    display: flex;
    // flex-direction: column;
    gap: 30px;
    .blog-textarea {
      max-width: 60vw;
    }
  }
  .write-image {
    width: 60vw;
    height: 300px;
    background: url("../../public/man-walking.jpg");
    background-size: cover;
    background-position: center;
  }
  .image-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60vw;
    gap: 30px;
    margin: 40px 0;
    .file-label {
      border: 1px solid white;
      width: 7px !important;
      height: 7px !important;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3rem;
      cursor: pointer;
      border-radius: 50px;
    }
    .file-input {
      display: none;
    }
    .top-input {
      width: 100%;
      font-size: 1.5rem;
      padding: 10px 5px;
      background-color: black;
      border: 0;
      border-bottom: 1px solid white;
      color: white;
    }
  }
  .blog-textarea {
    width: 100%;
    font-size: 1.3rem;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }
  .illustration {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 30px;
    height: max-content;
    // justify-content: center;
    align-items: center;

    .levels {
      display: flex;
      flex-direction: column;
      width: 90%;
      gap: 20px;
      .sideBtn {
        padding: 10px;
        border-radius: 30px;
        color: white;
        background-color: black;
        border: 1px solid white;
        font-size: 1.3rem;
      }
      .sideBtn.pushed {
        background-color: white !important;
        color: black !important;
      }
    }
    label {
      width: 90%;
    }
    .input-side {
      width: 90%;
      padding: 10px 5px;
      font-size: 1.1rem;
      background-color: black;
      border: 0;
      border-bottom: 1px solid white;
      // border-radius: 30px;
      color: white;
    }
    .submit-btn {
      width: 90%;
      margin-top: 20px;
      background-color: white;
      color: black;
      padding: 20px 0;
      border-radius: 20px;
      border: 1px solid white;
      font-size: 1.2rem;
      &:hover {
        background-color: black;
        color: white;
      }
      &:disabled {
        background-color: grey;
        color: white;
      }
    }
  }
}
.submitted-wrapper {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999999999;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  .submitted {
    padding: 30px;
    border: 1px solid white !important;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a {
      background-color: white;
      color: black;
      cursor: pointer;
      text-decoration: none;
      font-size: 1.1rem;
      padding: 20px;
      border-radius: 20px;
    }
  }
}
@include lg-max {
  .form {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    .illustration {
      width: 100%;
      display: flex;
    }
  }
}

@include lg-min {
  .illustration {
    max-width: 30vw;
  }
}
