@import "../utils/variables";
.nav {
  background-color: white;
}

@include sm-max {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 20px;
    margin: 0 auto;
    ul.open {
      right: -40vw;
    }
    ul {
      position: absolute;
      top: 0;
      right: 0;
      width: 40vw;
      padding: 0;
      margin: 0;
      background-color: black;
      height: 100vh;
      li {
        list-style: none;
        padding: 0;
        height: 50px;
        display: flex;

        a {
          height: 100%;
          width: 100%;
          color: white;
          text-decoration: none;
          padding: 10px 20px;
          &:hover {
            background-color: white;
            color: #000;
            text-decoration: underline;
          }
        }
      }
    }
    .navbar {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      right: 40vw;
    }
    .navbar.open {
      right: 0vw;
    }
    .bar {
      background-color: black;
      border-radius: 30px;
      width: 25px;
      height: 4px;
      margin: 3px;
    }
  }
}

@include med-min {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    h1 {
      margin-left: 40px;
    }
    ul {
      display: flex;
      margin-right: 40px;
      li {
        list-style: none;
        a {
          padding: 20px;
          color: white;
        }
      }
    }
  }
}
