@import "../utils/variables";
.nav {
  background-color: white;
  .profile-header {
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    gap: 20px;
    h4 {
      color: black;
    }
    img {
      object-fit: contain;
    }
  }
}

@include med-max {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 20px;
    margin: 0 auto;
    h1 {
      color: #000;
      cursor: pointer;
    }
    ul.open {
      right: -40vw;
      transition: right 500ms ease-in-out;
    }
    ul {
      position: absolute;
      top: 0;
      right: 0;
      width: 40vw;
      padding: 0;
      margin: 0;
      background-color: black;
      height: 100vh;
      display: flex;
      flex-direction: column;
      z-index: 999;
      transition: right 500ms ease-in;
      li {
        list-style: none;
        padding: 0;
        display: flex;
        a {
          color: white;
          width: 100%;
          // margin-bottom: 10px;
          text-decoration: none;
          padding: 40px 30px;
          font-size: 1.2rem;
          &:hover {
            background-color: white;
            color: red;
            text-decoration: underline;
          }
        }
      }
    }
    .navbar {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      right: 40vw;
      transition: right 500ms ease-in;
    }
    .navbar.open {
      right: 0vw;
      transition: right 500ms ease-in-out;
    }
    .bar {
      background-color: black;
      border-radius: 30px;
      width: 25px;
      height: 4px;
      margin: 3px;
    }
  }
}

@include med-min {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // max-width: 1000px;
    margin: 0 auto;
    .profile-header {
      flex-direction: 3;
    }

    h1 {
      margin-left: 40px;
      color: black;
      flex: 3;
    }
    ul {
      display: flex;
      margin-right: 40px;
      flex: 6;
      li {
        list-style: none;
        a {
          padding: 20px;
          // color: white;
          color: black;
          font-size: 1.2rem;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
