@import "../utils/variables";

nav {
  background-color: white;
  position: relative;
  color: black;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: space-between;

  h1 {
    margin: 0;
    font-size: 1.7rem;
  }
}
ul {
  z-index: 9999999;
}
.options.open {
  z-index: 999;
}

@include med-min {
  nav {
    justify-content: space-between;
  }
  .ul {
    display: flex;
    position: relative !important;
    flex-direction: row !important;
    height: max-content !important;
    justify-content: center;
    align-items: center;
    li {
      list-style: none;
      a,
      button {
        color: black;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 1.2rem;

        &:hover {
          background-color: white;
          color: black;
          text-decoration: underline;
        }
      }
    }
  }
}
@include med-max {
  nav {
    justify-content: space-between;
  }
  .ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    position: absolute;
    top: 0;
    left: -40vw;
    background-color: black;
    width: 40vw;
    height: 100vh;
    margin: 0;
    transition: left 1.2s ease-in-out;
  }
  .ul {
    li {
      display: flex;
      a,
      button {
        height: 40px;
        width: 100%;
        padding: 20px 30px;
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
        text-align: end;

        &:hover {
          background-color: white;
          color: black;
          text-decoration: underline;
        }
      }
    }
  }
  .ul.open {
    left: 0;
    transition: left 1.2s ease-in-out;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    gap: 6px;
    left: -4vw;
    position: relative;
    left: 0;
    transition: 1.2s left ease-in-out;
    .bar {
      background-color: black;
      border-radius: 30px;
      height: 6px;
      width: 35px;
    }
  }
  .navbar.open {
    left: 40vw;
    transition: left 1.2s ease-in-out;
  }
  .left-items {
    display: flex;
    flex-direction: row;
    gap: 20px;
    // padding-left: 50px;
  }
}
.profile-settings {
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  padding-right: 100px;
  position: relative;
  cursor: pointer;
  .top-settings {
    position: absolute;
    top: 40px;
    left: -70px;
    background-color: white;
    padding: 0;
    margin: 0;
    border: 3px solid gray;
    border-radius: 30px;

    li {
      list-style: none;
      height: 50px;
      padding: 5px 40px;
      display: flex;
      align-items: center;
      gap: 10px;
      a {
        color: black;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      button {
        background-color: white;
        width: 100%;
        border: none;
        font-size: 1.2rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.options.open {
  display: flex;
}
.options {
  display: none;
}
@include sm-max {
  .options {
    left: -50px !important;
  }
}
@include med-min {
  .options {
    left: -150px;
  }
}
