@import "../utils/variables";
.welcome-grid-items {
  display: grid;
  a {
      color: white;
      text-decoration: none;
      background-image: linear-gradient(
        to right,
        rgb(15, 32, 39),
        rgb(32, 58, 67),
        rgb(44, 83, 100)
      );
      cursor: pointer;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 20px;
      .welcome-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        p {
          width: 70%;
        }
      }
    }

    .fas {
      font-size: 3rem;
    }
}

@include med-max {
  .welcome-grid-items {
    grid-template-columns: 1fr;
  }
}
@include med-min {
  .welcome-grid-items {
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 30px;
    padding-bottom: 20px;

  }
}
